* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #211B12;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-item {
    margin-left: 24px;
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.greetings {
    display: flex;
    align-items: center;
    padding: 70px 0;

}

.greetings-text {
    margin-left: 27px;
}

.greetings-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
}

.greetings-description {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}

.greetings-primary {
    color: #BF7506;
}

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.greetings-links {
    display: flex;
    align-items: center;
}

.cv-download {
    display: flex;
    padding: 7px 8px;
    margin-left: 55px;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
}

.cv-icon {
    margin-right: 4px;
}

.projects-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;

}
.projects-list {
    display: flex;
    justify-content: space-between;
}
.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.cart-text-wrapper {
    padding: 16px;
}
.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
    margin-top: 0;
    margin-bottom: 8px;
}

.card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.tags {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

.tag {
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #211B12;
    background: #FFFFFF;
    border: 1px solid #DD9C3C;
    border-radius: 4px;

}
.tag-item {
    margin-right: 4px;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}

.card-button-icon {
    margin-right: 4px;
}

.bio {
    display: flex;
    align-items: center;
    padding: 80px 0 20px;
}

.bio-content {
    margin-left: 56px;
}

.bio-greetings {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
}

.bio-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin-top: 4px;
    margin-bottom: 16px;
}

.bio-work {
    font-size: 16px;
    line-height: 150%;
}

.bio-hobby {
    font-size: 24px;
    line-height: 150%;
    color: #DD9C3C;
    margin: 16px 0;
}
.bio-description {
    font-size: 16px;
    line-height: 150%;
}

.bio-photo {
    width: 360px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
}

.bio-sign {
    width: 200px;
}

.skills {
    padding: 20px 0;
}

.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
}

.feedback {
    padding: 80px 0 160px;
}
.form-container {
    max-width: 435px;
    margin: auto;
}

.input-group {
    position: relative;
    padding-top: 9px;
    margin-bottom: 24px;
}

.input-label {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #83807C;
    padding: 0 8px;
    background: #FFFFFF;
    top: 0;
    left: 16px;
}

.input {
    border: 3px solid #E0DEDC;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

textarea.input {
    min-height: 140px;
    resize: vertical;
}

.submit-btn {
    display: flex;
    padding: 7px 8px;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #BF7506;
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    justify-content: end;
}